<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <% if user_signed_in? %>
      <h2>Welcome To Company Announcement Protal</h2>
    <% else %>
      <h1 class="display-4">Company Announcement!</h1>
      <p class="lead">Welcome to the company announcements! Sign up or log in to access the latest updates, connect with your colleagues</p>
      <hr class="my-4">
      <h5>This portal allows employees to communicate effectively within the company</h5>
      <p class="lead">
        <%= link_to 'SIGN UP!!', new_user_registration_path, class: 'btn btn-primary btn-lg', role: 'button' %>
        <%= link_to 'LogIn!!', new_user_session_path, class: 'btn btn-primary btn-lg', role: 'button' %>
      </p>
    <% end %>
  </div> 
</div>